<h1>Games</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<table border="1">
    <thead>
        <tr>
            <th>game_id</th>
            <th>title</th>
            <th>genre</th>
            <th>game_platform</th>
            <th>release_date</th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
        <tr>
            <td>{{this.game_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.game_platform}}</td>
            <td>{{formatDate this.release_date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>