<h1>Games</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<table border="1">
    <thead>
        <tr>
            <th>game_id</th>
            <th>title</th>
            <th>genre</th>
            <th>game_platform</th>
            <th>release_date</th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
        <tr>
            <td>{{this.game_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.game_platform}}</td>
            <td>{{formatDate this.release_date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Edit a game</h3>
<form method="POST" action="/edit-game">
    <label for="game_id">Game ID:</label>
    <input type="text" id="game_id" name="game_id"><br>

    <button type="submit">Edit Game</button>
</form>


<h3>Delete a game</h3>
<form method="POST" action="/delete-game">
    <label for="game_id">Game ID:</label>
    <input type="text" id="game_id" name="game_id"><br>

    <button type="submit">Delete Game</button>
</form>

<h3>View Games</h3>
<form method="POST" action="/view-games">
    <button type="submit">View Games</button>
</form>