<h1>GamesPlayed</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>

<table border="1">
    <thead>
        <tr>
            <th>gamesplayed_id</th>
            <th>player_id</th>
            <th>game_id</th>
            <th>status</th>
            <th>rating</th>
            <th>date_started</th>
            <th>date_completed</th>
            <th>hours_played</th>
        </tr>
    </thead>
    <tbody>
        {{#each gamesplayed}}
        <tr>
            <td>{{this.gameplayed_id}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.game_id}}</td>
            <td>{{this.status}}</td>
            <td>{{this.rating}}</td>
            <td>{{formatDate this.date_started}}</td>
            <td>{{formatDate this.date_completed}}</td>
            <td>{{this.hours_played}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>