<h1>GamesPlayed</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>

<table border="1">
    <thead>
        <tr>
            <th>gamesplayed_id</th>
            <th>player_id</th>
            <th>game_id</th>
            <th>status</th>
            <th>rating</th>
            <th>date_started</th>
            <th>date_completed</th>
            <th>hours_played</th>
        </tr>
    </thead>
    <tbody>
        {{#each gamesplayed}}
        <tr>
            <td>{{this.gameplayed_id}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.game_id}}</td>
            <td>{{this.status}}</td>
            <td>{{this.rating}}</td>
            <td>{{formatDate this.date_started}}</td>
            <td>{{formatDate this.date_completed}}</td>
            <td>{{this.hours_played}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Add a New Game Played</h3>
<form method="POST" action="/add-gameplayed">
    <label for="status">Title:</label>
    <input type="text" id="title" name="title"><br>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre"><br>

    <label for="game_platform">Platform:</label>
    <input type="text" id="game_platform" name="game_platform"><br>

    <label for="release_date">Release Date:</label>
    <input type="date" id="release_date" name="release_date"><br>

    <button type="submit">Add Game</button>
</form>


<h3>Edit a Game Played</h3>
<form method="POST" action="/edit-gameplayed">
    <label for="player_id">Player ID:</label>
    <input type="text" id="player_id" name="player_id"><br>

    <label for="game_id">Game ID:</label>
    <input type="text" id="game_id" name="game_id"><br>

    <button type="submit">Edit Game Played</button>
</form>

<h3>Delete a Game Played</h3>
<form method="POST" action="/delete-gameplayed">
    <label for="player_id">Player ID:</label>
    <input type="text" id="player_id" name="player_id"><br>

    <label for="game_id">Game ID:</label>
    <input type="text" id="game_id" name="game_id"><br>

    <button type="submit">Delete Game Played</button>
</form>


<h3>View GamesPlayed</h3>
<form method="POST" action="/view-gameplayed">
    <button type="submit">View GamesPlayed</button>
</form>
