<h1>PlayersFriends</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<p><a href="/reset"><strong>RESET</strong></a></p>

<table border="1">
    <thead>
        <tr>
            <th>friendslist_id</th>
            <th>player_id</th>
            <th>friend_id</th>
            <th>status</th>
            <th>Delete a Player's Friend</th>
        </tr>
    </thead>
    <tbody>
        {{#each playersfriends}}
        <tr>
            <td>{{this.friendslist_id}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.friend_id}}</td>
            <td>{{this.status}}</td>
            <td><form method="POST" action="/deleteplayersfriends">
                <input type="hidden" name="friendslist_id" value="{{this.friendslist_id}}">
                <button type="submit">delete</button>
                </form></td>
        </tr>
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Edit a playersfriends</h3>
<form method="POST" action="/editplayersfriends">
    <label for="friendslist_id">FriendsList ID:</label>
    <select id="friendlist_id" name="friendslist_id">
        {{#each playersfriends}}
            <option value="{{this.friendslist_id}}">{{this.friendslist_id}}: {{this.player_username}} + {{this.friend_username}}</option>
        {{/each}}
    </select><br>

    <label for="status">Status:</label>
    <select id="status" name="status">
        {{#each statuses}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Edit PlayersFriends</button>
</form>