<h1>PlayersFriends</h1>
<p><a href="/">Home </a><a href="/players">Players</a> <a href="/friends">Friends</a>
<a href="/playersfriends">PlayersFriends</a> <a href="/games">Games</a> <a href="/gamesplayed">GamesPlayed</a></p>
<p><a href="/reset"><strong>RESET</strong></a></p>

<table border="1">
    <thead>
        <tr>
            <th>friendslist_id</th>
            <th>player_id</th>
            <th>friend_id</th>
            <th>status</th>
            <th>Delete a Player's Friend</th>
        </tr>
    </thead>
    <tbody>
        {{#each playersfriends}}
        <tr>
            <td>{{this.friendslist_id}}</td>
            <td>{{this.player_id}}</td>
            <td>{{this.friend_id}}</td>
            <td>{{this.status}}</td>
            <td><form method="POST" action="/deleteplayersfriends">
                <input type="hidden" name="friendslist_id" value="{{this.friendslist_id}}">
                <button type="submit">delete</button>
                </form></td>
        </tr>
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Edit a playersfriends</h3>
<form id="editPlayersFriendForm" method="POST" action="/editplayersfriend">
    <label for="friendslist_id">FriendsList ID:</label>
    <select id="friendslist_id" name="friendslist_id" required>
        {{#each playersfriends}}
            <option value="{{this.friendslist_id}}">{{this.friendslist_id}}: {{this.player_username}} + {{this.friend_username}}</option>
        {{/each}}
    </select><br>

    <label for="status">Status:</label>
    <select id="status" name="status" required>
        {{#each statuses}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Edit PlayersFriends</button>
</form>


<script>
document.getElementById('editPlayersFriendForm').addEventListener('submit', async function(event){
    event.preventDefault();
    const form = event.target;
    const data = {
        friendslist_id: form.friendslist_id.value,
        status: form.status.value
    };
    try {
        const response = await fetch('/editplayersfriend', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        });
        if (!response.ok){
            const message = await response.text();
            alert('Error: ' + message); // popup on error
        } else {
            alert("Player's friend edited successfully!");  // popup on friend add
            form.reset();
            location.reload();
        }
    } catch (error) {
        alert('Unexpected error:', error.message);
    }
});
</script>